In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('energydata_complete.csv')

In [3]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
df_1 = data.drop(columns = 'date')

In [14]:
df_1

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [26]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
df_1 = pd.DataFrame(scalar.fit_transform(df_1),columns = df_1.columns)
feature_var1 = df_1['T2']
target_var1 = df_1['T6']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_var1, target_var1, test_size=0.10, random_state=1)

x_train = x_train.values.reshape(-1, 1)
y_train = y_train.values.reshape(-1, 1)
x_test = x_test.values.reshape(-1, 1)
y_test = y_test.values.reshape(-1, 1)

from sklearn.linear_model import LinearRegression
model1 = LinearRegression()
model1.fit(x_train, y_train)
predicted_values = model1.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r2score = r2_score(y_test, predicted_values)
round(r2score, 2)

0.64

In [12]:
df_2 = data.drop(columns = ['date', 'lights'])

In [15]:
df_2

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [27]:
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()

df_2 = pd.DataFrame(scalar.fit_transform(df_2), columns=df_2.columns)

feature_var_df = df_2.drop(columns='Appliances')
target_var = df_2['Appliances']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_var_df, target_var, test_size=0.30, random_state=42)

from sklearn.linear_model import LinearRegression
model2 = LinearRegression()
model2.fit(x_train, y_train)

predicted_values = model2.predict(x_test)

In [17]:
from sklearn.metrics import mean_absolute_error
mean_abs_error = mean_absolute_error(y_test, predicted_values)
round(mean_abs_error, 2)

0.05

In [22]:
res_sum_sq = np.sum(np.square(y_test - predicted_values))
round(res_sum_sq, 2)

45.35

In [21]:
from sklearn.metrics import mean_squared_error
rt_mean_sq_error = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rt_mean_sq_error, 3)

0.088

In [23]:
from sklearn.metrics import r2_score
coeff_det = r2_score(y_test, predicted_values)
round(coeff_det, 2)

0.15

In [33]:
def obtain_weights(model, feature, column):
    wts = pd.Series(model.coef_, feature.columns).sort_values()
    wts_df = pd.DataFrame(wts).reset_index()
    wts_df.columns = ['Features',column]
    wts_df[column].round(3)
    return wts_df

In [52]:
obtained_weights = obtain_weights(model2, x_train, 'Weights-Linear Model')

obtained_weights

       Features  Weights-Linear Model
0           rv2         -4.343591e+11
1          RH_2         -4.557693e-01
2         T_out         -3.219087e-01
3            T2         -2.353464e-01
4            T9         -1.898748e-01
5          RH_8         -1.572672e-01
6        RH_out         -7.791732e-02
7          RH_7         -4.490654e-02
8          RH_9         -3.976745e-02
9            T5         -1.577332e-02
10           T1         -3.281051e-03
11  Press_mm_hg          6.657622e-03
12           T7          1.045594e-02
13   Visibility          1.234513e-02
14         RH_5          1.594563e-02
15         RH_4          2.625793e-02
16           T4          2.874692e-02
17    Windspeed          2.899236e-02
18         RH_6          3.792760e-02
19         RH_3          9.604397e-02
20           T8          1.018995e-01
21    Tdewpoint          1.177147e-01
22           T6          2.361835e-01
23           T3          2.901600e-01
24         RH_1          5.532942e-01
25          rv1          4.343591e+11

In [37]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_2 = pd.DataFrame(scaler.fit_transform(df_2), columns=df_2.columns)

feature_var2_df = df_2.drop(columns='Appliances')
target_var = df_2['Appliances']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_var2_df, target_var, test_size=0.70, random_state=42)

from sklearn.linear_model import Ridge
rr_model = Ridge(alpha=0.4)
rr_model.fit(x_train, y_train)

predicted_values = rr_model.predict(x_test)

In [38]:
from sklearn.metrics import mean_squared_error
rt_mean_sq_error = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rt_mean_sq_error, 3)

0.09

In [39]:
df_3 = data.drop(columns = ['date', 'lights'])

In [41]:
df_3

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [43]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_3 = pd.DataFrame(scaler.fit_transform(df_3), columns=df_3.columns)

feature_var3_df = df_3.drop(columns='Appliances')
target_var = df_3['Appliances']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(feature_var3_df, target_var, test_size=0.30, random_state=42)

from sklearn.linear_model import Lasso
lr_model = Lasso(alpha=0.001)
lr_model.fit(x_train, y_train)

predicted_values = lr_model.predict(x_test)

In [44]:
def obtain_weights_2(model, feature, column):
    wts = pd.Series(model.coef_, feature.columns).sort_values()
    wts_df = pd.DataFrame(wts).reset_index()
    wts_df.columns = ['Features', column]
    wts_df[column].round(3)
    return wts_df

In [51]:
obtained_lasso_weights = obtain_weights_2(lr_model, x_train, 'Weights-Lasso Regression Model')

obtained_lasso_weights

       Features  Weights-Lasso Regression Model
0        RH_out                       -0.049557
1          RH_8                       -0.000110
2            T1                        0.000000
3     Tdewpoint                        0.000000
4    Visibility                        0.000000
5   Press_mm_hg                       -0.000000
6         T_out                        0.000000
7          RH_9                       -0.000000
8            T9                       -0.000000
9            T8                        0.000000
10         RH_7                       -0.000000
11          rv1                       -0.000000
12           T7                       -0.000000
13           T6                        0.000000
14         RH_5                        0.000000
15           T5                       -0.000000
16         RH_4                        0.000000
17           T4                       -0.000000
18         RH_3                        0.000000
19           T3                        0.000000
20         RH_2                       -0.000000
21           T2                        0.000000
22         RH_6                       -0.000000
23          rv2                       -0.000000
24    Windspeed                        0.002912
25         RH_1                        0.017880

In [53]:
from sklearn.metrics import mean_squared_error
rt_mean_sq_error = np.sqrt(mean_squared_error(y_test, predicted_values))
round(rt_mean_sq_error, 3)

0.094